# 作業 : (Kaggle)鐵達尼生存預測精簡版 
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著不依賴說明, 只依照下列程式碼回答下列問題, 初步理解什麼是"特徵工程"的區塊

# [作業重點]
- 試著不依賴註解, 以之前所學, 回答下列問題

# 作業1
* 下列A~E五個程式區塊中，哪一塊是特徵工程?

# 作業2
* 對照程式區塊 B 與 C 的結果，請問那些欄位屬於"類別型欄位"? (回答欄位英文名稱即可) 

# 作業3
* 續上題，請問哪個欄位是"目標值"?

In [1]:
# 程式區塊 A：將需要的都import進來，設定好要使用的data路徑。
import os
import pandas            as pd
import numpy             as np
import seaborn           as sns
import matplotlib.pyplot as plt
import math
import warnings
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.linear_model  import LogisticRegression
warnings.filterwarnings('ignore')
%matplotlib inline

# 設定【data的資料夾路徑】，命名為【data_folder】
data_folder = 'C:/Users/Ynitsed/Documents/GitHub/2nd-ML100Days/data'

In [2]:
# 設定t001為某個data路徑
# 設定t002為pd裡read data的功能
t001_train = os.path.join(data_folder, 'titanic_train.csv')
t002_train = pd.read_csv(t001_train)
print('Path of read in data: %s' %t001_train)
print(t002_train.shape)
t002_train.head()

Path of read in data: C:/Users/Ynitsed/Documents/GitHub/2nd-ML100Days/data\titanic_train.csv
(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# 設定t001為某個data路徑
# 設定t002為pd裡read data的功能
t001_test  = os.path.join(data_folder,  'titanic_test.csv')
t002_test  = pd.read_csv(t001_test)
print('Path of read in data: %s' %t001_test)
print(t002_test.shape)
t002_test.head()

Path of read in data: C:/Users/Ynitsed/Documents/GitHub/2nd-ML100Days/data\titanic_test.csv
(418, 11)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## 說明1
從train和test資料可發現，train有【Survived】但test沒有，可以想像後面是要讓test算出【Survived】的機率，只是透過什麼去算呢？

In [4]:
# 程式區塊 B-1：做t003，train取【Survived】、test取【PassengerId】
t003_train = t002_train['Survived']
t003_train.head(10)

0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    0
8    1
9    1
Name: Survived, dtype: int64

In [5]:
t003_test  = t002_test['PassengerId']
t003_test.head(10)

0    892
1    893
2    894
3    895
4    896
5    897
6    898
7    899
8    900
9    901
Name: PassengerId, dtype: int64

In [6]:
# 程式區塊 B-2：做t004，train捨棄【PassengerId,Survived】、test捨棄【PassengerId】。
t004_train = t002_train.drop(['PassengerId', 'Survived'] , axis=1)
t004_train.head(10)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [7]:
t004_test  = t002_test.drop(['PassengerId'] , axis=1)
t004_test.head(10)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

In [8]:
# 程式區塊 B-3：設計t005，把train和test合併，UNION ALL的概念。
# 現在還不太知道為什麼兩個都要把【PassengerId】拿掉，照理講train拿掉【Survived】就可以了。
t005 = pd.concat([t004_train,t004_test])
print(t005.shape)
t005.head(10)

(1309, 10)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [9]:
t005.describe()

            Pclass          Age        SibSp        Parch         Fare
count  1309.000000  1046.000000  1309.000000  1309.000000  1308.000000
mean      2.294882    29.881138     0.498854     0.385027    33.295479
std       0.837836    14.413493     1.041658     0.865560    51.758668
min       1.000000     0.170000     0.000000     0.000000     0.000000
25%       2.000000    21.000000     0.000000     0.000000     7.895800
50%       3.000000    28.000000     0.000000     0.000000    14.454200
75%       3.000000    39.000000     1.000000     0.000000    31.275000
max       3.000000    80.000000     8.000000     9.000000   512.329200

In [10]:
# 程式區塊 C：屬於類別欄位的用LE轉，屬於數值欄位的用MME轉。
LE = LabelEncoder()
MME = MinMaxScaler()
for d in t005.columns:
    t005[d] = t005[d].fillna(-1)
    if t005[d].dtype == 'object':
        t005[d] = LE.fit_transform(list(t005[d].values))
    t005[d] = MME.fit_transform(t005[d].values.reshape(-1, 1))
t005.head(10)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.118683,1.0,0.283951,0.125,0.000000,0.775862,0.016072,0.000000,1.000000
1,0.0,0.218989,0.0,0.481481,0.125,0.000000,0.879310,0.140813,0.575269,0.333333
2,1.0,0.400459,0.0,0.333333,0.000,0.000000,0.984914,0.017387,0.000000,1.000000
3,0.0,0.323124,0.0,0.444444,0.125,0.000000,0.070043,0.105390,0.381720,1.000000
4,1.0,0.016845,1.0,0.444444,0.000,0.000000,0.699353,0.017630,0.000000,1.000000
5,1.0,0.626340,1.0,0.000000,0.000,0.000000,0.401940,0.018425,0.000000,0.666667
6,0.0,0.587289,1.0,0.679012,0.000,0.000000,0.117457,0.102980,0.881720,1.000000
7,1.0,0.699847,1.0,0.037037,0.375,0.111111,0.582974,0.043004,0.000000,1.000000
8,1.0,0.463247,0.0,0.345679,0.000,0.222222,0.514009,0.023636,0.000000,1.000000
9,0.5,0.648545,0.0,0.185185,0.125,0.000000,0.187500,0.060528,0.000000,0.333333

In [11]:
t005.describe()
# 可以發現全部的欄位都被整理成0~1間的measure

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000
mean,0.647441,0.499762,0.644003,0.304649,0.062357,0.042781,0.499597,0.066759,0.118497,0.829641
std,0.418918,0.288905,0.478997,0.220570,0.130207,0.096173,0.299644,0.100808,0.257104,0.273270
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.500000,0.249617,0.000000,0.098765,0.000000,0.000000,0.228448,0.017330,0.000000,0.666667
50%,1.000000,0.499234,1.000000,0.308642,0.000000,0.000000,0.494612,0.030106,0.000000,1.000000
75%,1.000000,0.749617,1.000000,0.444444,0.125000,0.000000,0.783405,0.062874,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
# 程式區塊 D-1：做一下train的總筆數
train_cnt = t002_train.shape[0]
train_cnt

891

In [13]:
# 程式區塊 D-2：從頭列到某個段落，留意一下寫法[:cnt]；從中間列到尾，留意一下寫法[cnt:]
# 剛剛UNION ALL之後，做了一次正規化，現在要再把train和test拆開。
t006_train = t005[:train_cnt]
t006_train

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.118683,1.0,0.283951,0.125,0.000000,0.775862,0.016072,0.000000,1.000000
1,0.0,0.218989,0.0,0.481481,0.125,0.000000,0.879310,0.140813,0.575269,0.333333
2,1.0,0.400459,0.0,0.333333,0.000,0.000000,0.984914,0.017387,0.000000,1.000000
3,0.0,0.323124,0.0,0.444444,0.125,0.000000,0.070043,0.105390,0.381720,1.000000
4,1.0,0.016845,1.0,0.444444,0.000,0.000000,0.699353,0.017630,0.000000,1.000000
5,1.0,0.626340,1.0,0.000000,0.000,0.000000,0.401940,0.018425,0.000000,0.666667
6,0.0,0.587289,1.0,0.679012,0.000,0.000000,0.117457,0.102980,0.881720,1.000000
7,1.0,0.699847,1.0,0.037037,0.375,0.111111,0.582974,0.043004,0.000000,1.000000
8,1.0,0.463247,0.0,0.345679,0.000,0.222222,0.514009,0.023636,0.000000,1.000000
9,0.5,0.648545,0.0,0.185185,0.125,0.000000,0.187500,0.060528,0.000000,0.333333
10,1.0,0.816998,0.0,0.061728,0.125,0.111111,0.904095,0.034481,0.994624,1.000000
11,0.0,0.101838,0.0,0.728395,0.000,0.000000,0.053879,0.053669,0.338710,1.000000
12,1.0,0.819296,1.0,0.259259,0.000,0.000000,0.789871,0.017630,0.000000,1.000000
13,1.0,0.029096,1.0,0.493827,0.125,0.555556,0.494612,0.062874,0.000000,1.000000
14,1.0,0.934916,0.0,0.185185,0.000,0.000000,0.609914,0.017249,0.000000,1.000000
15,0.5,0.408116,0.0,0.691358,0.000,0.000000,0.219828,0.033117,0.000000,1.000000
16,1.0,0.761868,1.0,0.037037,0.500,0.111111,0.710129,0.058686,0.000000,0.666667
17,0.5,0.973201,1.0,0.000000,0.000,0.000000,0.216595,0.027273,0.000000,1.000000
18,1.0,0.931853,0.0,0.395062,0.125,0.000000,0.449353,0.037013,0.000000,1.000000
19,1.0,0.581930,0.0,0.000000,0.000,0.000000,0.261853,0.016023,0.000000,0.333333
20,0.5,0.323890,1.0,0.444444,0.000,0.000000,0.196121,0.052598,0.000000,1.000000
21,0.5,0.085758,1.0,0.432099,0.000,0.000000,0.218750,0.027273,0.774194,1.000000
22,1.0,0.595712,0.0,0.197531,0.000,0.000000,0.408405,0.017589,0.000000,0.666667
23,0.0,0.850689,1.0,0.358025,0.000,0.000000,0.058190,0.071104,0.096774,1.000000
24,1.0,0.702144,0.0,0.111111,0.375,0.111111,0.582974,0.043004,0.000000,1.000000
25,1.0,0.049005,0.0,0.481481,0.125,0.555556,0.489224,0.063093,0.000000,1.000000
26,1.0,0.284074,1.0,0.000000,0.000,0.000000,0.256466,0.016023,0.000000,0.333333
27,0.0,0.309342,1.0,0.246914,0.375,0.222222,0.132543,0.514290,0.435484,1.000000
28,1.0,0.677642,0.0,0.000000,0.000,0.000000,0.414871,0.017297,0.000000,0.666667
29,1.0,0.908116,1.0,0.000000,0.000,0.000000,0.537716,0.017330,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...
861,0.5,0.336141,1.0,0.271605,0.125,0.000000,0.325431,0.024351,0.000000,1.000000
862,0.0,0.891271,0.0,0.604938,0.000,0.000000,0.120690,0.052460,0.655914,1.000000
863,1.0,0.804747,0.0,0.000000,1.000,0.222222,0.838362,0.137436,0.000000,1.000000
864,0.5,0.338438,1.0,0.308642,0.000,0.000000,0.165948,0.027273,0.000000,1.000000
865,0.5,0.135528,0.0,0.530864,0.000,0.000000,0.173491,0.027273,0.000000,1.000000
866,0.5,0.272588,0.0,0.345679,0.125,0.000000,0.929957,0.028945,0.000000,0.333333
867,0.0,0.775651,1.0,0.395062,0.000,0.000000,0.869612,0.100317,0.053763,1.000000
868,1.0,1.000000,1.0,0.000000,0.000,0.000000,0.461207,0.020455,0.000000,1.000000
869,1.0,0.459418,1.0,0.061728,0.125,0.111111,0.514009,0.023636,0.000000,1.000000
870,1.0,0.065850,1.0,0.333333,0.000,0.000000,0.572198,0.017330,0.000000,1.000000
871,0.0,0.084992,0.0,0.592593,0.125,0.111111,0.075431,0.104327,0.709677,1.000000
872,0.0,0.154671,1.0,0.419753,0.000,0.000000,0.741379,0.011688,0.247312,1.000000
873,1.0,0.928790,1.0,0.592593,0.000,0.000000,0.451509,0.019481,0.000000,1.000000
874,0.5,0.005360,0.0,0.358025,0.125,0.000000,0.850216,0.048702,0.000000,0.333333
875,1.0,0.642420,0.0,0.197531,0.000,0.000000,0.281250,0.016023,0.000000,0.333333
876,1.0,0.362940,1.0,0.259259,0.000,0.000000,0.744612,0.021128,0.000000,1.000000
877,1.0,0.734303,1.0,0.246914,0.000,0.000000,0.533405,0.017330,0.000000,1.000000
878,1.0,0.513017,1.0,0.000000,0.000,0.000000,0.538793,0.017330,0.000000,1.000000
879,0.0,0.746554,0.0,0.703704,0.000,0.111111,0.080819,0.163946,0.489247,0.333333
880,0.5,0.829250,0.0,0.320988,0.000,0.111111,0.158405,0.052598,0.000000,1.000000
881,1.0,0.579632,1.0,0.419753,0.000,0.000000,0.581897,0.017330,0.000000,1.000000
882,1.0,0.222052,0.0,0.283951,0.000,0.000000,0.751078,0.022435,0.000000,1.000000
883,0.5,0.067381,1.0,0.358025,0.000,0.000000,0.834052,0.022403,0.000000,1.000000
884,1.0,0.885911,1.0,0.320988,0.000,0.000000,0.960129,0.015682,0.000000,1.000000
885,1.0,0.763400,0.0,0.493827,0.000,0.555556,0.710129,0.058686,0.000000,0.666667
886,0.5,0.620980,1.0,0.345679,0.000,0.000000,0.140086,0.027273,0.000000,1.000000
887,0.0,0.355283,0.0,0.246914,0.000,0.000000,0.019397,0.060390,0.220430,1.000000
888,1.0,0.464778,0.0,0.000000,0.125,0.222222,0.994612,0.047630,0.000000,1.000000
889,0.0,0.086524,1.0,0.333333,0.000,0.000000,0.011853,0.060390,0.419355,0.333333
890,1.0,0.258806,1.0,0.407407,0.000,0.000000,0.691810,0.017046,0.000000,0.666667

In [14]:
t006_test = t005[train_cnt:]
t006_test

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.488515,1.0,0.438272,0.000,0.000000,0.405172,0.017200,0.000000,0.666667
1,1.0,0.969372,0.0,0.592593,0.125,0.000000,0.627155,0.015585,0.000000,1.000000
2,0.5,0.640888,1.0,0.777778,0.000,0.000000,0.198276,0.020820,0.000000,0.666667
3,1.0,0.978560,1.0,0.345679,0.000,0.000000,0.394397,0.018823,0.000000,1.000000
4,1.0,0.415773,0.0,0.283951,0.125,0.111111,0.364224,0.025885,0.000000,1.000000
5,1.0,0.888208,1.0,0.185185,0.000,0.000000,0.745690,0.019919,0.000000,1.000000
6,1.0,0.199847,0.0,0.382716,0.000,0.000000,0.419181,0.016810,0.000000,0.666667
7,0.5,0.141654,1.0,0.333333,0.125,0.111111,0.227371,0.058442,0.000000,1.000000
8,1.0,0.006891,0.0,0.234568,0.000,0.000000,0.270474,0.016031,0.000000,0.333333
9,1.0,0.235835,1.0,0.271605,0.250,0.000000,0.769397,0.048994,0.000000,1.000000
10,1.0,0.438744,1.0,0.000000,0.000,0.000000,0.542026,0.017330,0.000000,1.000000
11,0.0,0.467075,1.0,0.580247,0.000,0.000000,0.740302,0.052598,0.000000,1.000000
12,0.0,0.859112,0.0,0.296296,0.125,0.000000,0.141164,0.162209,0.225806,1.000000
13,0.5,0.430322,1.0,0.790123,0.125,0.000000,0.199353,0.052598,0.000000,1.000000
14,0.0,0.168453,0.0,0.592593,0.125,0.000000,0.997845,0.121121,0.833333,1.000000
15,0.5,0.996937,0.0,0.308642,0.125,0.000000,0.933190,0.055950,0.000000,0.333333
16,0.5,0.484686,1.0,0.444444,0.000,0.000000,0.164871,0.026007,0.000000,0.666667
17,1.0,0.050536,1.0,0.271605,0.000,0.000000,0.309267,0.016023,0.000000,0.333333
18,1.0,0.439510,0.0,0.345679,0.125,0.000000,0.981681,0.017387,0.000000,1.000000
19,1.0,0.049770,0.0,0.567901,0.000,0.000000,0.313578,0.016023,0.000000,0.333333
20,0.0,0.786371,1.0,0.691358,0.125,0.000000,0.882543,0.117663,0.000000,0.333333
21,1.0,0.683002,1.0,0.123457,0.000,0.111111,0.798491,0.008125,0.000000,1.000000
22,0.0,0.294793,0.0,0.000000,0.000,0.000000,0.878233,0.063669,0.000000,1.000000
23,0.0,0.975498,1.0,0.271605,0.000,0.111111,0.877155,0.121519,0.000000,0.333333
24,0.0,0.795559,0.0,0.604938,0.125,0.333333,0.887931,0.513072,0.258065,0.333333
25,1.0,0.774119,1.0,0.629630,0.125,0.000000,0.792026,0.030195,0.000000,1.000000
26,0.0,0.693721,0.0,0.283951,0.000,0.111111,0.042026,0.122688,0.188172,0.333333
27,1.0,0.220521,1.0,0.290123,0.000,0.000000,0.315733,0.016023,0.000000,0.333333
28,0.0,0.115620,1.0,0.518519,0.000,0.000000,0.034483,0.061364,0.043011,1.000000
29,1.0,0.813936,1.0,0.000000,0.250,0.000000,0.275862,0.044181,0.000000,0.333333
...,...,...,...,...,...,...,...,...,...,...
388,1.0,0.147014,1.0,0.271605,0.000,0.000000,0.646552,0.017046,0.000000,0.666667
389,1.0,0.700613,1.0,0.086420,0.375,0.111111,0.582974,0.043004,0.000000,1.000000
390,0.0,0.715161,1.0,0.296296,0.000,0.000000,0.092672,0.184092,0.155914,1.000000
391,0.0,0.547473,0.0,0.641975,0.000,0.111111,0.871767,0.078702,0.688172,1.000000
392,1.0,0.000766,1.0,0.172840,0.000,0.222222,0.811422,0.041396,0.000000,1.000000
393,0.5,0.334609,1.0,0.592593,0.000,0.000000,0.815733,0.022403,0.000000,1.000000
394,1.0,0.500766,1.0,0.370370,0.375,0.111111,0.393319,0.044854,0.000000,1.000000
395,0.0,0.856815,0.0,0.234568,0.125,0.000000,0.105603,0.118832,0.451613,1.000000
396,1.0,0.188361,1.0,0.308642,0.000,0.000000,0.695043,0.016072,0.000000,0.666667
397,0.0,0.319296,0.0,0.604938,0.125,0.111111,0.103448,0.156235,0.215054,0.333333
398,1.0,0.522971,1.0,0.283951,0.000,0.000000,0.476293,0.017094,0.000000,1.000000
399,1.0,0.198315,1.0,0.395062,0.000,0.000000,0.142241,0.017013,0.000000,0.666667
400,0.0,0.101072,0.0,0.382716,0.000,0.000000,0.674569,0.323120,0.543011,1.000000
401,0.5,0.324655,1.0,0.481481,0.125,0.000000,0.337284,0.042857,0.000000,1.000000
402,0.0,0.332312,0.0,0.283951,0.000,0.111111,0.024784,0.117663,0.000000,0.333333
403,0.0,0.157734,1.0,0.222222,0.000,0.000000,0.037716,0.093702,0.000000,1.000000
404,0.0,0.316233,1.0,0.543210,0.125,0.000000,0.125000,0.055950,0.731183,0.333333
405,0.5,0.667688,1.0,0.259259,0.000,0.000000,0.932112,0.028953,0.725806,0.333333
406,0.5,0.941041,1.0,0.296296,0.125,0.000000,0.339440,0.022403,0.000000,1.000000
407,0.0,0.964778,1.0,0.629630,0.125,0.111111,0.039871,0.413964,0.559140,0.333333
408,1.0,0.770291,0.0,0.000000,0.000,0.000000,0.424569,0.016989,0.000000,0.666667
409,1.0,0.716692,0.0,0.049383,0.125,0.111111,0.951509,0.028783,0.000000,1.000000
410,1.0,0.650077,0.0,0.000000,0.000,0.000000,0.651940,0.017046,0.000000,0.666667
411,0.0,0.613323,0.0,0.469136,0.125,0.000000,0.129310,0.177274,0.553763,0.666667
412,1.0,0.403522,0.0,0.358025,0.000,0.000000,0.497845,0.017094,0.000000,1.000000
413,1.0,0.862175,1.0,0.000000,0.000,0.000000,0.766164,0.017630,0.000000,1.000000
414,0.0,0.682236,0.0,0.493827,0.000,0.000000,0.898707,0.214093,0.349462,0.333333
415,1.0,0.800919,1.0,0.487654,0.000,0.000000,0.939655,0.016072,0.000000,1.000000
416,1.0,0.939510,1.0,0.000000,0.000,0.000000,0.623922,0.017630,0.000000,1.000000
417,1.0,0.729709,1.0,0.000000,0.125,0.111111,0.282328,0.045504,0.000000,0.333333

In [15]:
# 程式區塊 D-3：拿目標欄位也就是被截取的【Survived】(t003_train)，去和被正規化後全部的欄位(t006_train)做【estimator.fit】
# 留意一下前後的關係，看起來是【estimator.fit(X,Y)】，Y是結果嘛。
estimator = LogisticRegression()
t007 = estimator.fit(t006_train, t003_train)
print(t007)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [16]:
# 程式區塊 D-4：t007可以當作已經跑完令人無法參透的運算，已經得到某個迴歸函數，現在我們要運用t007這個回歸函數，去套進test的裡。
# 換句話說，將t007這個回歸函數，實際填上test正規化後的各欄位數據(t006_test)，可以想像我們填了x1~xn進去。
# t006_test是x1~xn，t007則是b0和b1~bn，於是就能產生y了(t008)。
# 然而因為這是LogisticRegression，所以t008會再加一層，讓它轉成0(負數)和1(0&正數)。
t008 = t007.predict(t006_test)
t008

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [18]:
# 程式區塊 E：將y的結果填回唯一識別欄位(不是用比對的(join))，看起來是按照順序填上。好吧~ 不會錯就好。
# pd.DataFrame(col_A,col_B)，而兩欄位的筆數必須相同。留意一下欄位命名的方式。
t009 = pd.DataFrame({'PassengerId': t003_test, 'Survived': t008})
t009.to_csv('titanic_baseline.csv', index=False) 
t009.head(10)

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1
5          897         0
6          898         1
7          899         0
8          900         1
9          901         0

### Day17教材方向和目標
1. 主要在教觀念，對我不重要。
2. 理解一下整個程式碼在幹嘛：

t003：train的部分是先擷取主要想被得知的欄位，test的部分則是擷取要被識別唯一的欄位。  
　　　更明確來說，我們最後想要知道，test資料中每一個【PassengerId】(唯一識別欄位)的【Survived】狀況，  
　　　因為test資料裡還沒有【Survived】，這就是我們要做的事。  
　　　所以t003，train的部分擷取【Survived】、test的部分擷取【PassengerId】，這是第一預備動作。  

t004：為了讓train和test的其他欄位被同時正規化，所以要把train和test併在一起，但兩張表的欄位不一樣啊，  
　　　train多出了【Survived】，所以要把它drop掉。  
　　　唯一識別欄位【PassengerId】drop掉的原因可能有兩個：  
　　　理由1是它不需要正規化，因為它不是我們會考慮進去的變數；  
　　　理由2是如果保留此欄位，後面進行DE動作時可能會有重複欄位出錯的問題，這我不確定，但我也不想試。  
　　　反正理由1夠充份，就drop掉它吧。這邊背一下drop的寫法：data.drop(['col_A', 'col_B'] , axis=1)  

t005：處理完的t004終於可以UNION ALL了，在Python裡是【pd.concat([A_data,B_data])】。  
　　　接著把所有數據都正規化(0~1)，屬於類別欄位的用LE轉，屬於數值欄位的用MME轉。    

t006：既然正規化完了，那就把train和test再拆開來。這個拆法利用計算train的筆數去拆，挺不錯的。

t007：利用train的目標欄位(t003)和所有正規化欄位(t006)，運用LogisticRegression跑出回歸函數，b0,b1~bn，但沒辦法秀出來。
t008：將t006_test，也就是x1~xn套到回歸函數(t007)裡，可以得到每一個y1~yi
t009：t009將t008和最早取得的t003_test合併，可得最終結果。

### Day17忽略部分
1. axis=1的用途
2. LE & MME 的細節寫法，之後要用到再回來抄就好。
3. t009只是把t008填回test的唯一識別欄位(t003)，照理講應該填回整個t002_test，才看得到完整資料啊~
 
### Day17其他補充
教材真的是各種不解釋欸，不就還好拎杯很懂統計。